.navlink{
  width: 300px;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  
 
  
}


.navlink li{
  float: left;
  height: 24px;
  box-shadow: 0 0 3px 2px #ccc;
  padding:1px 4px;
  transition: all 5s linear ;
}
.navlink li:not(:first-child){
 
  margin-left: 15px;
}
a{
  text-decoration: none;
  color: #c2c2c2;
  transition: all .5s ease-in-out ;
  display: block;
  width: 100%;
}
.navlink li:visited{
  background: #000;
}
.navlink li:hover a{
  color: red;
  cursor: pointer;
}

.navlink::after{
 
  content: "";
  clear: both;
  display: block;
  height: 1px;
  visibility: visible;
  overflow: hidden;
 
}