.contain{
    display: flex;
    align-items: center;
   padding: 10rem;
}
.photo{
    width: 280rem;
    height: 280rem;
}
.photo img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.rightsection{
    flex: 1;
    margin-left: 20rem;
}
.title{

    font-size: 18px;
    margin: 0;
}

.content{
    color: #bbb;
    
}
.pricewrap{
    display: flex;
    justify-content: space-between;
}
.price{
    font-weight: bold;
    font-size: 18px;
}
.price::before{
    content:"￥";
    font-size: 14px;
}